* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9CAF91;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: #FFFFFF;
    width: 70%;
    height: 80%;
    box-shadow: -0.8em 0.8em 0.8em 3px #0006;
}
.kaire{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    background-color:#FFFFFF;
    padding: 4rem;
    gap:1.3rem;
    position: relative;
}
.logo{
    animation: logo 15s  infinite;
    position: absolute;
    top: 3rem;
}
@keyframes logo {

    0%{
        top:1rem;
        opacity: 1;
    }
    20%{
        left:6rem;
        opacity: 0.8;
    }
    40%{
        left:10rem;
        opacity: 0.5;
    }
    60%{
        left:14rem;
        opacity: 0.2;
    }

    100%{

        left:20rem;
        opacity: 0;

    }
}





.desine{
    width: 40%;
    height: 100%;
}
.kava{
  width: 100%;
  height: 100%;

}

button:hover{
    color:#445B41 ;
    background-color: white;
   border: solid;
   transition: 3s;
  
}

.ivedimas {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  line-height: 1.8rem;
}
.kaire ::placeholder{
    padding-bottom: 2rem;
  
}
.kaire a{
    text-decoration: none;
    color:#9CAF91
}
h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -4px;
    margin-bottom: 0;
}
.kaire-p{
    margin-top: -1rem;
    font-size: 1rem;
}
h1:hover{
    color: #445B41;
}
.kaire-p:hover{
    color: red;
}

button {
    background-color: #445B41;
    color: white;
    border: none;
    padding: 1rem 4rem;
    font-size: 1rem;
    animation: move 20s infinite;
}

@keyframes move {
    0% {
        padding: 1rem 4rem; 
        color: red;
    }
    50%{
        padding: 2rem 5rem;
        background-color: blue;
        opacity: 1;
    }
    100% {
        padding: 3rem 6rem;
        color: aqua;
        opacity: 0.2;
    }
}



