* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9CAF91;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: #FFFFFF;
    width: 70%;
    height: 80%;
    box-shadow: -0.8em 0.8em 0.8em 3px #0006;
}
.kaire{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    background-color:#FFFFFF;
    padding: 4rem;
    gap:1.3rem;
    position: relative;
}
.logo{
    animation: logo 15s  infinite;
    position: absolute;
    top: 3rem;
}
@keyframes logo {

    0%{
        top:1rem;
        opacity: 1;
    }
    20%{
        top:6rem;
        left:8rem;
        opacity: 0.8;
    }
    40%{
        top:10rem;
        left:20rem;
        opacity: 0.5;
    }
    60%{
        top:15rem;
        left:28rem;
        opacity: 0.3;
    }

    100%{
        top:25rem;
        left:40rem;
        opacity: 0;

    }
}


.desine{
    width: 40%;
    height: 100%;
    background-image: url('../pic/logo.webp');
    background-position: center;
    background-repeat: no-repeat;
}
.kava{
  width: 100%;
  height: 100%;
  animation: kava 15s infinite; 


}
@keyframes kava {
    0%{
        
        opacity: 1;
    }
    20% {
        
        opacity: 0.7;
    }
    40%{
        
        opacity: 0.5;
    }
    80%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
    
}

button:hover{
    color:#445B41 ;
    background-color: white;
   border: solid;
   transition: 3s;
  
}

.ivedimas {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  line-height: 1.8rem;
}
.kaire ::placeholder{
    padding-bottom: 2rem;
  
}
.kaire a{
    text-decoration: none;
    color:#9CAF91
}
h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -4px;
    margin-bottom: 0;
}
.kaire-p{
    margin-top: -1rem;
    font-size: 1rem;
}
h1:hover{
    color: #445B41;
}
.kaire-p:hover{
    color: red;
}

button {
    background-color: #445B41;
    color: white;
    border: none;
    padding: 1rem 4rem;
    font-size: 1rem;
    animation: move 15s infinite;
}

@keyframes move {
    0% {
        padding: 1rem ;
        color:white;
        opacity: 1;
    }

    100% {
        padding: 1rem ;
        padding-left: 29rem;
        color:black;
        font-weight: bold;
        opacity: 0.2;
        background-color: burlywood;
    }
}



